.content{
	margin: 10px auto;
	text-align: center;
	background: #fff;
}
.content .form{
	width: 300px;
	margin: 10px auto;
	background: #efefef;
	padding: 10px;
	border:1px solid #ddd;
}
.content .form input{
	padding: 5px;
	width: 96%;
	border:1px solid #ddd;
	margin-bottom: 15px;
}
.content .form textarea{
	height: 150px;
	border:1px solid #ddd;
	padding: 10px;
	width: 93%;
	margin-bottom: 15px;
	resize: none;
}
.content .form button{
	border:0;
	background: green;
	color: #fff;
	height: 40px;
	list-style: 40px;
	outline: 0;
	width: 100px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}
.content .displaydata {
	width: 300px;
	margin: 10px auto;
}
.content .displaydata .box{
	padding: 5px;
	border-bottom: 1px solid #ddd;
}